//  Creates a spinner on the :before element.
@mixin spinner($size: 2rem) {
  &:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: $size;
    height: $size;
    margin-top: ($size / -2);
    margin-left: ($size / -2);
  }
  //  The selector below will not work on old IE, so it will just say 'Loading...' instead of showing the spinner.
  &:not(:required):before {
    content: '';
    border-radius: 50%;
    border: ($size / 8) solid rgba(0, 0, 0, .05);
    border-top-color: $color-brand-primary;
    animation: spinner 1s linear infinite;
  }
}