// .btn-group,
.form-filter select {
    display: inline;
    width: auto;
}

.form-filter {
    float: left;
}

.actions {
    margin-bottom: 20px;
    .btn-group {
        float: left;
        margin-right: 20px;
    }
}

.assets-list .asset-actions {
    padding-left: 15px;
}

.assets-grid {
  a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  .checkbox {
    display: block;
    padding: 1px 5px 3px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 10px;
    border: 1px solid #efefef;
  }
  .icon {
    color: #fff;
  }
  .preview {
    position: relative;
    padding-bottom: 100%;
    background: rgba(41, 128, 185, .1);
    &--folder {
      background: #f5f6f7;
      .image {
        padding: 25%;
      }
    }
    a {
      display: block;
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
      vertical-align: middle;
      float: none;
      margin: 0;
      object-fit: cover
    }
    &.is-addable {
      cursor: pointer;
    }
  }
}
.asset-items {
  margin-bottom: 20px;
}

.assets-grid .order-item {
  position: relative;
}

.assets-grid .order-handle {
  cursor: move;
}

.assets-grid .name {
  position: absolute;
  right: 10px;
  bottom: 0;
  left: 10px;
  background-color: rgba(0,0,0, .5);
  overflow: hidden;
  padding: 5px 10px;
  height: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
  font-weight: bold;
}
