// Layout checkboxes
.form__item--layout {
  .form__radio-item {
    float: left;
    width: 100px;
    height: 90px;
  }
}

.form__image-preview {
  display: inline-block;
  border: 1px solid #b7b7b7;
  margin-top: 5px;
  padding: 5px;
  text-align: right;
}

.form__item--layout {
  .form__label--checkbox {
    padding-left: 0;
    text-align: center;
    display: block;
    cursor: pointer;
  }
  .form__radio {
    visibility: hidden;
  }
  img {
    padding: 10px;
    border: 1px solid #ccc;
  }
  input:checked + img {
    background: #ccc;
  }
}
