.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  margin-bottom: $rh-lrg;
  background: $gray-100;
  color: $white;
}

// Brand/project name
.navbar__brand {
  @include link-variant($white);
  float: left;
  padding: $rh-sml;
  background: $color-brand-primary;
  font-weight: $font-weight-bold;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar__nav {
  @include listreset;
  > li {
    float: left;
    > a {
      @include link-variant($gray-0, $white);
      display: inline-block;
      padding: $rh-sml;
      font-weight: $font-weight-bold;
      text-decoration: none;
      &:hover,
      &:focus {
        background: $gray-75;
      }
    }
  }
}

.navbar__form {
  margin-top: 4px;
  padding: 0 $rh-sml;
  color: $color-text;
  .form__text {
    padding: 5px;
  }
}
