// Form submit animation
@keyframes move {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

// Icons
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
